
<link rel="stylesheet" href="./css/index.css">
<div class="block">
  <div class="loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div class="left">
  <%- include ('../partials/header.ejs') %>
<div class="formDiv">
  <div class="context"><h2>View Your Excel Sheets<br>Effortlessly</h2></div>
  <form action="/posted" method="post" enctype="multipart/form-data">
  <label for="file" id="label"><img src="./upload.png"> <p class="labelpara">Upload your .xslx file</p></label>
  <input type="file" name="file" id="file">
  <input type="submit" class="submit" value="Submit" >
  </form>
  <div class="subcontext"></div>
  
</div>
</div>
<table></table>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./js/index.js"></script>