
<%- include ('../partials/header.ejs') %>
<body>
    <h1>Hello</h1>
    <table class="table"></table>
    <script>
        let value =JSON.parse('<%-values%>')
        let table = document.querySelector('.table')
    </script>
</body>